* {
    font-family: Arial, Helvetica, sans-serif;
}

/* DASHBOARD */
.dashboard {
    border: 1px solid #a0a0a0; 
    height: 100px;   
    border-radius: 20px;  
}

#card-valor {
    border: 1px solid #a0a0a0;   
    border-radius: 20px;   
}

#container-welcome {    
    background-color: #cfcfcf;
    font-size: 20px; 
}

#progress-receita {
    height: 25px;
}

#progress-despesa {
    height: 25px;
    font-size: 18px;
}

#btn-dashboard {
    font-size: 18px;   
    background-color: #333366;
    border-color: #333366;
    height: 45px;
    color: white;
}

#btn-dashboard:hover {
    background-color: #6522bd;
    border-color: #6522bd;
}

#month {
    font-size: 18px;
    font-weight: bold;    
}

#year {
    font-size: 18px;
    font-weight: bold;    
}

#i_saldo {
    font-size: 20px;
    font-weight: bold;    
}

#i_receita {
    font-size: 20px;
    font-weight: bold;    
}

#i_despesa {
    font-size: 20px;
    font-weight: bold;    
}

.text-dashboard {
    font-weight: bold;
}

#text-p-dashboard {
    font-size: 25px;
    font-weight: bold;
}

.show-details {
    background-color: #cfcfcf;
    height: 400px;   
    border-radius: 20px;  
}

.text-show {
    font-size: 25px;
}

.text-details {
    font-size: 20px;
}

.line-details {
    border-top: 1px solid #a0a0a0;    
}

#line-footer {
    border-top: 1px solid #a0a0a0;
    padding-top: 25px;    
}

@media (max-width: 900px) {
    #container-welcome {
        margin-top: 75px; 
    }
    
    .dashboard_container{
        padding: 0px; 
    }

    .card_container {
        padding-right: 20px;
        padding-left: 25px;
    }
}

@media (min-width: 900px) {
    .dashboard_container{
        padding-left: 210px; 
        padding-right: 0;
    }
}

/* SIDEBAR */
.logo {
    margin-top: 20px;
    height: 5rem;
    width: auto;
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

.container-fluid {
    margin-left: -6px;
    width: auto;    
}

.content {
    flex: 1;
    padding: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

#menu-container {
    position: fixed;
}

.menu-container {
    color: white;
}

.menu-container .nav-link {
    color: white;
}

.menu-container .nav-link:hover {
    color: lightgrey;
}

.menu-container .fa {
    color: white;
}

.menu-container .nav-pills .nav-item a span {    
    font-size: 20px;
    font-weight: 400;    
}

.nav-item {
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
}

.nav-pills li a:hover {
    background-color: rgba(245, 245, 245, 0.582);
}

.sidebar-menu {
    background-color: #333366;
}

.user-dropdown-menu {
    position: relative;
}

.user-dropdown-menu button {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease;
}

.user-dropdown-menu button:hover {
    background-color: rgba(245, 245, 245, 0.582);
}

