.logo {
    margin-top: 20px;
    height: 7rem;
    width: auto;
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

.container-fluid {
    margin-left: -6px;
    width: auto;    
}

.content {
    padding: 20px;
    margin-left: 210px;
    width: calc(100% - 220px);
    background-color: rgb(256, 256, 256);
}

.sidebar-menu {
    background-color: rgb(51, 51, 102);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    padding-top: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    min-height: 150px;
}

.menu-container {
    color: rgb(256, 256, 256);
}

.menu-container .nav-link {
    color: rgb(256, 256, 256);
}

.menu-container .nav-link:hover {
    color: lightgrey;
}

.menu-container .fa {
    color: rgb(256, 256, 256);
}

.menu-container .nav-pills .nav-item a span {    
    font-size: 20px;
    font-weight: 400;    
}

.nav-item {
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
}

.nav-pills li a:hover {
    background-color: rgba(245, 245, 245, 0.582);
}

.user-dropdown-menu {
    position: relative;
}

.user-dropdown-menu button {
    background-color: rgb(51, 50, 102);
    color: rgb(256, 256, 256);
    background-color: rgb(51, 50, 102) ease;
}

.user-dropdown-menu button:hover {
    background-color: rgba(245, 245, 245, 0.582);
}

.col-md-6 {
    width: 33%;
}

.pull-right {
    margin-top: 20px;
    width: 8%;
    float: right;
}

.radio-right-margin {
    margin-right: 30px;
    font-size:large;
}

.radio-left-margin {
    margin-left: 30px;
}

input[type="date" i] {   
    align-items: center;
    text-align: center;
    display: inline-block;
    font-size:large;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 35%;
    height: 40px;
}

select, textarea {
    text-align: center;
    font-size:large;
    width: 50%;
    height: 40px;
}

.marginRight {
    margin-right: 10px;
}

.btn-md {
    width: 10%;
}

.btn-secondary {
    margin-bottom: 20px;
    background-color: #715C8C;
}
.btn-primary {
    margin-bottom: 20px;
    background-color: rgb(51, 50, 102);
}

.btn-primary:hover {
    background-color: rgb(89, 85, 158);
}

.btn-secondary:hover {
    background-color: #838BC2;
}


.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.switches {
    display: inline-block;
    float: right;
}

.launchDate {
    display: inline-block;
    float: right;
}

.form-control {
    display: inline-block;
}

input[type="number" i] {
    margin-left: 10px;
    width: 35%;
}

.input-left-margin {
    margin-left: 100px;
}

.launchDateClass {
    float: right;
}
#launchDate {
    width: auto;
}

label {
    display: inline-block; 
}

.modal-header {
    background-color: rgb(51, 51, 102);
    color: rgb(256, 256, 256); 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.table>thead {
    background-color: rgb(55, 50, 102);
    color: rgb(256, 256, 256); 
}

.green-text {
    color: rgb(22, 187, 22) !important;
    font-weight: 500;
}

.red-text {
    color: rgb(204, 5, 5) !important;
    font-weight: 500;
}
