.logo {
    margin-top: 20px;
    height: 5rem;
    width: auto;
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

.container-fluid {
    margin-left: -6px;
    width: auto;    
}

.content {
    flex: 1;
    padding: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.menu-container {
    color: white;
}

.menu-container .nav-link {
    color: white;
}

.menu-container .nav-link:hover {
    color: lightgrey;
}

.menu-container .fa {
    color: white;
}

.menu-container .nav-pills .nav-item a span {    
    font-size: 20px;
    font-weight: 400;    
}

.nav-item {
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
}

.nav-pills li a:hover {
    background-color: rgba(245, 245, 245, 0.582);
}

.sidebar-menu {
    background-color: #212529;
}

.user-dropdown-menu {
    position: relative;
}

.user-dropdown-menu button {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease;
}

.user-dropdown-menu button:hover {
    background-color: rgba(245, 245, 245, 0.582);
}
/*Configurações tela de Login */

h1 {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.img-logo {
   display: block;
   max-width:500px;
   max-height:350px;
   width: auto;
   height: auto;
   margin: auto;
   margin-top: 0;
}

.form-mail {
    background-color: #FFF;
	width: 15%;
    height: auto;
	margin-left: auto;
	margin-right: auto;
	position: block;
    padding: 10px;
    font-size: medium;
    border-color: black;
    border-radius: 30px;
    
    
     
}
.form-password {
    background-color: #FFF;
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	position: block;
    padding: 1px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 30px;
    
}
input[type=text], input[type=number] {
	width: 250px;
    height: 30px;
}
.btn-submit {
	margin: auto;
    margin-left: auto;
    margin-right: auto; 
    width: 80px;
    height: 30px;
    background-color: #618068;  
    color: #FFF;
	border: 2px solid transparent;
    border-radius: 40px;  
    
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.div-footer {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 220px ;

}
