@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/*CSS Larissa*/

:root {
    --cor1: #333F63;
    --cor2: #715C8C;
    --cor3: #838BC2;

    --fonte-destaque: 'Poppins', Arial, Helvetica, sans-serif;
    --fonte-secundaria: 'Roboto Mono','Courier New', Courier, monospace;
}

@media screen and (min-width:768px) and (max-width: 992px) {

    .content {
        padding-top: 90px;
        padding-right: 0px;
        padding-left: 2px;
        margin: auto;
    }

    body {
        font-size: 16px;
        font-family: var(--fonte-destaque);
        font-weight: 400;
    }

    fieldset {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 5px;
        }
    
    .radio-right-margin {
        font-size: 16px;
    }
    
    .inputDate {
        width: 150px;
    }

    input#startDate {
        font-size: 16px;
    }

    input#endDate {
        font-size: 16px;
    }

    #categoriesFilter {
        font-size: 16px;
        font-family: var(--fonte-secundaria);
        }

    select, textarea {
        font-size: 16px;
        height: 30px;
    }

    h3 {
        font-family: var(--fonte-destaque);
        font-weight: 400;
        font-size: 22px
        }
        
    h4 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 20px
        }
        
    h5 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 18px
        }
    
    h5.col-md-6 {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#reports {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#modalLabel { 
        font-size: 20px;
    }

    h5#categoryModalLabel {
        font-size: 20px;
    }

    footer { 
        font-family: var(--fonte-destaque);
        font-size: 16px;
        color: #a0a0a0;
        width: 100%;
        text-align: center;
        padding: 10px;
        }
    
    table {
        padding: 15px;
        }
    
    div#reports {
        padding: 15px;
        }

    thead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 18px;
        color: white; 
        }
            
    tbody {
        font-family: var(--fonte-destaque);
        font-size: 16px;
        }

    thead#categoryTableHead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 18px;
        color: white;
        }
        
    tbody#categoryTableBody {
        font-family: var(--fonte-destaque);
        font-size: 16px;
        }
    
    #launchModal {
        margin: auto;
    }
    
    #categoryModal {
        margin: auto;
    }

    .modal {
        text-align: center;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 50vh;
    }

    .modal-dialog {
        width: 60vw;
        height: 60vh;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 48vw;
        }

    .form-control {
        display: list-item;
        }

    input[type="number" i] {
            margin-left: 10px;
            width: 35%;
        }
            
    .input-left-margin {
            margin-left: 100px;
        }
            
    .launchDateClass {
            margin-top: 20px;
            float: left;
        }
            
    input#launchDate {
            width: 48vw;
            font-size: 17px;
        }
    
    select#selectCategories.form-control {
        font-size: 17px;
        font-family: var(--fonte-secundaria);
            }
    
    input#value {
        width: 48vw;
        margin-left: 1px;
        }

    .btn-secondary {
        margin-bottom: 20px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 14px;
        }
    
    .btn-secondary.pull-right {
        margin-bottom: 20px;
        padding-right: 90px;
        padding-left: 10px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 14px;
        }
            
    .btn-primary.pull-right {
        margin-bottom: 20px;
        padding-right: 50px;
        padding-left: 10px;
        background-color: var(--cor1);
        font-family: var(--fonte-secundaria);
        font-size: 14px;
        }

        button#NewLaunch {
            padding-right: 20px;
            padding-left: 20px;
            }
        
        button#eraser {
            padding-right: 10px;
            padding-left: 10px;
            }
        
        button#pdf {
            padding-right: 10px;
            padding-left: 10px;
            }
        
        button#xls {
            padding-right: 10px;
            padding-left: 10px;
            }

}
    

@media screen and (min-width: 600px) and (max-width: 768px) {

    .content {
        padding-top: 90px;
        padding-right: 0px;
        padding-left: 2px;
        margin: auto;
    }

    body {
        font-size: 15px;
        font-family: var(--fonte-destaque);
        font-weight: 400;
    }

    fieldset {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 5px;
        }
    
    .radio-right-margin {
        font-size: 14px;
    }
    
    .inputDate {
        width: 120px;
    }

    input#startDate {
        font-size: 14px;
    }

    input#endDate {
        font-size: 14px;
    }

    #categoriesFilter {
        font-size: 14px;
        font-family: var(--fonte-secundaria);
        }
    
    select, textarea {
        font-size: 14px;
        height: 30px;
    }

    h3 {
        font-family: var(--fonte-destaque);
        font-weight: 400;
        font-size: 20px
        }
        
    h4 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 18px
        }
        
    h5 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 16px
        }
    
    h5.col-md-6 {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#reports {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#modalLabel { 
        font-size: 18px;
    }

    h5#categoryModalLabel {
        font-size: 18px;
    }

    footer { 
        font-family: var(--fonte-destaque);
        font-size: 14px;
        color: #a0a0a0;
        width: 100%;
        text-align: center;
        padding: 10px;
        }
    
    table {
        padding: 15px;
        }
    
    div#reports {
        padding: 15px;
        }

    thead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 16px;
        color: white; 
        }
            
    tbody {
        font-family: var(--fonte-destaque);
        font-size: 14px;
        }
    
    thead#categoryTableHead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 16px;
        color: white;
        }
    
    tbody#categoryTableBody {
        font-family: var(--fonte-destaque);
        font-size: 14px;
        }
    
    #launchModal {
        margin: auto;
    }
    
    #categoryModal {
        margin: auto;
    }

    .modal {
        text-align: center;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 50vh;
    }

    .modal-dialog {
        width: 55vw;
        height: 55vh;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 50vw;
        }

    .form-control {
        display: list-item;
        }

    input[type="number" i] {
            margin-left: 10px;
            width: 35%;
        }
            
    .input-left-margin {
            margin-left: 100px;
        }
            
    .launchDateClass {
            margin-top: 20px;
            float: left;
        }
            
    input#launchDate {
            width: 50vw;
            font-size: 14px;
        }
    
    select#selectCategories.form-control {
        font-size: 14px;
        font-family: var(--fonte-secundaria);
            }
    
    input#value {
        width: 50vw;
        margin-left: 1px;
        }

    .btn-secondary {
        margin-bottom: 20px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 12px;
        }
    
    .btn-secondary.pull-right {
        margin-bottom: 20px;
        padding-right: 80px;
        padding-left: 10px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 12px;
        }
            
    .btn-primary.pull-right {
        margin-bottom: 20px;
        padding-right: 50px;
        padding-left: 10px;
        background-color: var(--cor1);
        font-family: var(--fonte-secundaria);
        font-size: 12px;
        }

    button#NewLaunch {
        padding-right: 35px;
        }

    button#eraser {
        padding-right: 50px;
        }
    
    button#pdf {
        padding-right: 25px;
        }
    
    button#xls {
            padding-right: 25px;
        }

}

@media screen and (max-width: 600px) {
    .content {
        padding-top: 90px;
        padding-right: 15px;
        padding-left: 2px;
        margin: auto;
    }

    body {
        font-size: 13px;
        font-family: var(--fonte-destaque);
        font-weight: 400;
    }

    fieldset {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 5px;
        }
    
    .radio-right-margin {
        font-size: 12px;
    }
    
    .inputDate {
        width: 100px;
    }

    input#startDate {
        font-size: 14px;
    }

    input#endDate {
        font-size: 14px;
    }

    #categoriesFilter {
        font-size: 12px;
        font-family: var(--fonte-secundaria);
        }
    
    h3 {
        font-weight: 300;
    }
    
    select, textarea {
        font-size: 12px;
        height: 30px;
    }

    h3 {
        font-family: var(--fonte-destaque);
        font-weight: 400;
        font-size: 20px
        }
        
    h4 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 16px
        }
        
    h5 {
        font-family: var(--fonte-destaque);
        font-weight: 300;
        font-size: 14px
        }
    
    h5.col-md-6 {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#reports {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    h5#modalLabel { 
        font-size: 16px;
    }

    h5#categoryModalLabel {
        font-size: 16px;
    }

    footer { 
        font-family: var(--fonte-destaque);
        font-size: 12px;
        color: #a0a0a0;
        width: 100%;
        text-align: center;
        padding: 10px;
        }
    
    table {
        padding: 15px;
        }
    
    div#reports {
        padding: 15px;
        }

    thead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 14px;
        color: white; 
        }
            
    tbody {
        font-family: var(--fonte-destaque);
        font-size: 12px;
        }

    thead#categoryTableHead {
        background-color: var(--cor1);
        font-family: var(--fonte-destaque);
        font-size: 14px;
        color: white;
    }

    tbody#categoryTableBody {
        font-family: var(--fonte-destaque);
        font-size: 12px;

    }
    
    #launchModal {
        margin: auto;
    }
    
    #categoryModal {
        margin: auto;
    }

    .modal {
        text-align: center;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 60vh;
    }

    .modal-dialog {
        width: 60vw;
        height: 60vh;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .form-group {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 50vw;
        }

    .form-control {
        display: list-item;
        }

    input[type="number" i] {
            margin-left: 10px;
            width: 35%;
        }
            
    .input-left-margin {
            margin-left: 100px;
        }
            
    .launchDateClass {
            margin-top: 20px;
            float: left;
        }
            
    input#launchDate {
            width: 50vw;
            font-size: 13px;
        }
    
    select#selectCategories.form-control {
        font-size: 13px;
        font-family: var(--fonte-secundaria);
            }
    
    input#value {
        width: 50vw;
        margin-left: 1px;
        }

    .btn-secondary {
        margin-bottom: 20px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 10px;
        }
    
    .btn-secondary.pull-right {
        margin-bottom: 20px;
        padding-right: 70px;
        padding-left: 10px;
        background-color: var(--cor2);
        font-family: var(--fonte-secundaria);
        font-size: 10px;
        }
            
    .btn-primary.pull-right {
        margin-bottom: 20px;
        padding-right: 45px;
        padding-left: 10px;
        background-color: var(--cor1);
        font-family: var(--fonte-secundaria);
        font-size: 10px;
        }

    button#NewLaunch {
        padding-right: 35px;
        }

    button#eraser {
        padding-right: 45px;
        }
    
    button#pdf {
        padding-right: 25px;
        }
    
    button#xls {
            padding-right: 25px;
        }

}